# PYTHON DATA ANALYSIS

## Outline
- Data Analysis Steps
- Full Data Analysis Case-study
    - BikeStores Analysis

# Full Data Analysis Case-study (BikeStores Analysis)

### 1] Libraries & Data Importing

##### Import libraries and read in the BikeStores csv file

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('BikeStores.csv')

### 2] Data Understanding (Asking Questions)

In [ ]:
#1- read data
#2- print head and tail
#3- info about data
#4- describe data
#5- Check missing values
#6- if missing values in any column ---> handle
#7- unique values and value count for each column
#8- shape of data

##### Check the content of the DataFrame

In [9]:
# 1- Read data
data

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,599.99,Electra Townie Original 7D EQ - Women's - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
...,...,...,...,...,...,...,...,...,...,...,...,...
4717,1614,Dorthey Jackson,Houston,TX,28/11/2018,1,1499.00,Surly Krampus - 2018,Mountain Bikes,Surly,Rowlett Bikes,Kali Vargas
4718,1614,Dorthey Jackson,Houston,TX,28/11/2018,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4719,1615,Sarita Parks,Forney,TX,28/12/2018,1,899.99,Electra Tiger Shark 3i - 2018,Cruisers Bicycles,Electra,Rowlett Bikes,Kali Vargas
4720,1615,Sarita Parks,Forney,TX,28/12/2018,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4721,1615,Sarita Parks,Forney,TX,28/12/2018,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

In [8]:
# 2- Print head
data.head()

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,599.99,Electra Townie Original 7D EQ - Women's - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland

In [10]:
#tail
data.tail()

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
4717,1614,Dorthey Jackson,Houston,TX,28/11/2018,1,1499.00,Surly Krampus - 2018,Mountain Bikes,Surly,Rowlett Bikes,Kali Vargas
4718,1614,Dorthey Jackson,Houston,TX,28/11/2018,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4719,1615,Sarita Parks,Forney,TX,28/12/2018,1,899.99,Electra Tiger Shark 3i - 2018,Cruisers Bicycles,Electra,Rowlett Bikes,Kali Vargas
4720,1615,Sarita Parks,Forney,TX,28/12/2018,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4721,1615,Sarita Parks,Forney,TX,28/12/2018,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       4722 non-null   int64
 1   customers      4722 non-null   object
 2   city           4722 non-null   object
 3   state          4722 non-null   object
 4   order_date     4722 non-null   object
 5   total_units    4722 non-null   int64
 6   revenue        4722 non-null   float64
 7   product_name   4722 non-null   object
 8   category_name  4722 non-null   object
 9   brand_name     4722 non-null   object
 10  store_name     4722 non-null   object
 11  sales_rep      4722 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 442.8+ KB

##### How many rows and columns are there?

In [20]:
# Rows, Columns
data.shape

(4722, 12)

##### Check the data types

In [17]:
# Data types of each column
print(data.dtypes)

order_id           int64
customers         object
city              object
state             object
order_date        object
total_units        int64
revenue          float64
product_name      object
category_name     object
brand_name        object
store_name        object
sales_rep         object
dtype: object

In [19]:
# Statistical Summary
data.describe()

          order_id  total_units       revenue
count  4722.000000  4722.000000   4722.000000
mean    821.265354     1.498941   1816.812554
std     465.152168     0.500052   2228.160984
min       1.000000     1.000000     89.990000
25%     423.250000     1.000000    539.980000
50%     828.500000     1.000000    939.980000
75%    1226.000000     2.000000   1999.980000
max    1615.000000     2.000000  23999.980000

### 3] Data Wrangling (Cleaning & Manipulation)

##### Are there any missing / duplicated data?

In [22]:
# Check for any duplicated data
data.duplicated().sum()

0

In [23]:
#  Check for missing values
data.isnull().sum()

order_id         0
customers        0
city             0
state            0
order_date       0
total_units      0
revenue          0
product_name     0
category_name    0
brand_name       0
store_name       0
sales_rep        0
dtype: int64

#remove null
#Replace >> 
## Numerical>> Mean , Categorical >> Mode
data.fillna(....)
data.dropna()

##### Double-check for the columns names and update any of them if needed

In [28]:
# Check column names
print(data.columns)

Index(['order_id', 'customers', 'city', 'state', 'order_date', 'total_units',
       'revenue', 'product_name', 'category_name', 'brand_name', 'store_name',
       'sales_rep'],
      dtype='object')

In [29]:
# Rename columns if needed 
data.columns = [col.strip().replace(' ', '_').lower() for col in data.columns]
print(data.columns)

Index(['order_id', 'customers', 'city', 'state', 'order_date', 'total_units',
       'revenue', 'product_name', 'category_name', 'brand_name', 'store_name',
       'sales_rep'],
      dtype='object')

##### Can you convert the City column to UpperCases?

In [30]:
# Convert the City column to uppercase
data['city'] = data['city'].str.upper()

In [33]:
data.city

0       PLEASANTON
1       PLEASANTON
2       PLEASANTON
3       PLEASANTON
4       PLEASANTON
           ...
4717       HOUSTON
4718       HOUSTON
4719        FORNEY
4720        FORNEY
4721        FORNEY
Name: city, Length: 4722, dtype: object

### 4] Data Analysis & Visualization (EDA & Statistical Analysis)
#### Exploratory Data Analysis

##### What is the average Revenue?

In [35]:
average_revenue = data['revenue'].mean()
print(f"Average revenue: {average_revenue}")

Average revenue: 1816.8125540027095

##### What were the highest and lowest Revenue?

In [36]:
highest_revenue = data['revenue'].max()

In [37]:
highest_revenue

23999.98

In [38]:
lowest_revenue = data['revenue'].min()

In [39]:
lowest_revenue

89.99

##### How many orders have 'Road Bikes'  as a category name ?

In [41]:
road_bikes_orders = data[data['category_name'] == 'Road Bikes'].shape[0]
print(f"Number of orders with 'Road Bikes' category: {road_bikes_orders}")

Number of orders with 'Road Bikes' category: 374

##### Display the data which revenue greater than 10000

In [42]:
high_revenue_data = data[data['revenue'] > 10000]
print(high_revenue_data)

      order_id          customers                    city state  order_date  \
1798       645   Consuela Collier         NORTH TONAWANDA    NY    8/1/2017
1844       660        Ashlee Pena              WHITESTONE    NY   18/1/2017
1888       672        Delmar Wise                LOCKPORT    NY   26/1/2017
1928       685      Ayanna Cherry               SMITHTOWN    NY   31/1/2017
1953       692         Kasha Todd                CAMPBELL    CA    5/2/2017
2029       717       Tereasa Bird              RONKONKOMA    NY   15/2/2017
2083       736      Klara Stanley                 WEBSTER    NY   27/2/2017
2100       741     Thalia Dillard              SAN ANGELO    TX   28/2/2017
2140       755    Kimberely Bowen                    TROY    NY    6/3/2017
2227       787       Collene Knox          CORPUS CHRISTI    TX   18/3/2017
2283       804     Letitia Franco        SARATOGA SPRINGS    NY   29/3/2017
2347       823   Gwendolyn Miller               HARLINGEN    TX    6/4/2017
2533       887   Chantell Bridges                 BUFFALO    NY   13/5/2017
2549       892         Laure Pena        WAPPINGERS FALLS    NY   15/5/2017
2581       904     Lorraine Marks              SAN CARLOS    CA   23/5/2017
2653       930     Abram Copeland               HARLINGEN    TX    5/6/2017
2654       930     Abram Copeland               HARLINGEN    TX    5/6/2017
2663       934     Corrina Sawyer                    TROY    NY    9/6/2017
2676       937      Melanie Hayes               LIVERPOOL    NY   11/6/2017
2701       945    Loreta Johnston           SPRING VALLEY    NY   14/6/2017
2705       946      Andreas Mayer            NEW ROCHELLE    NY   14/6/2017
2720       951     Tamela Harrell           CENTRAL ISLIP    NY   16/6/2017
2752       961      Lizzie Joyner               COACHELLA    CA   19/6/2017
2784       973       Cindi Larson            HOWARD BEACH    NY   24/6/2017
2830       987    Jeanie Kirkland             SANTA CLARA    CA    2/7/2017
2884      1003    Marlo Jefferson           NIAGARA FALLS    NY   14/7/2017
2893      1006       Olimpia Mays         OAKLAND GARDENS    NY   15/7/2017
2944      1023     Vashti Rosario                   BRONX    NY   23/7/2017
3046      1055     Cleopatra Tate           EAST ELMHURST    NY   12/8/2017
3167      1095     Wynona Douglas               HARLINGEN    TX   26/8/2017
3192      1105    Margret Barnett                  FORNEY    TX    1/9/2017
3215      1115      Penny Acevedo            BALLSTON SPA    NY    7/9/2017
3219      1117       Somer Jordan      HUNTINGTON STATION    NY    8/9/2017
3221      1118        Adena Blake            BALLSTON SPA    NY    8/9/2017
3380      1170    Alejandro Haney                 WANTAGH    NY   5/10/2017
3525      1220  Bernardina Cooper              WHITESTONE    NY  31/10/2017
3566      1234     Lizzette Stein            ORCHARD PARK    NY   7/11/2017
3633      1255        Yan Trevino               UNIONDALE    NY  19/11/2017
3654      1262      Terra Pickett               AMSTERDAM    NY  23/11/2017
3681      1271       Alina Mcleod               PATCHOGUE    NY  27/11/2017
3699      1277      Danielle Bond               PATCHOGUE    NY   1/12/2017
3712      1282       Aron Wiggins               OCEANSIDE    NY   3/12/2017
3758      1297       Shae Hickman             FLORAL PARK    NY  14/12/2017
3772      1302   Merideth Preston            POUGHKEEPSIE    NY  16/12/2017
3897      1338        Hae Ramirez           BALDWINSVILLE    NY   10/1/2018
3905      1341        Todd Waters               BAY SHORE    NY   12/1/2018
3927      1347      Muriel Juarez  PALOS VERDES PENINSULA    CA   15/1/2018
3977      1364       Shena Carter            HOWARD BEACH    NY   25/1/2018
4059      1393         Tena Huber                NEWBURGH    NY   14/2/2018
4262      1463     Dorothea Chang                 ASTORIA    NY   23/3/2018
4277      1468      Tameka Fisher           REDONDO BEACH    CA   27/3/2018
4386      1505      Adelle Larsen          EAST NORTHPORT    NY    8/4/2018
4389      1506        Abby Gamble              AMITYVILLE    NY    8/4/2018
4464      1529    Cleotilde Booth              SUGAR LAND    TX   12/4/2018
4495      1540        Hedwig Paul            APPLE VALLEY    CA   16/4/2018
4498      1541     Pamelia Newman                  MONROE    NY   16/4/2018
4583      1570          Fran Yang                   UTICA    NY   22/4/2018
4664      1593   Genoveva Baldwin         PORT WASHINGTON    NY   27/4/2018

      total_units   revenue                       product_name  \
1798            2  10599.98             Trek Remedy 9.8 - 2017
1844            2  10599.98             Trek Remedy 9.8 - 2017
1888            2  12999.98   Trek Silque SLR 8 Women's - 2017
1928            2  10999.98      Trek Domane SLR 6 Disc - 2017
1953            2  10999.98      Trek Domane SLR 6 Disc - 2017
2029            2  10999.98      Trek Domane SLR 6 Disc - 2017
2083            2  10999.98      Trek Domane SLR 6 Disc - 2017
2100            2  10999.98      Trek Domane SLR 6 Disc - 2017
2140            2  10599.98  Trek Fuel EX 9.8 27.5 Plus - 2017
2227            2  12999.98   Trek Silque SLR 8 Women's - 2017
2283            2  11999.98   Trek Silque SLR 7 Women's - 2017
2347            2  10999.98      Trek Domane SLR 6 Disc - 2017
2533            2  11999.98   Trek Silque SLR 7 Women's - 2017
2549            2  11999.98   Trek Silque SLR 7 Women's - 2017
2581            2  12999.98   Trek Silque SLR 8 Women's - 2017
2653            2  10999.98      Trek Domane SLR 6 Disc - 2017
2654            2  12999.98   Trek Silque SLR 8 Women's - 2017
2663            2  10999.98      Trek Domane SLR 6 Disc - 2017
2676            2  12999.98   Trek Silque SLR 8 Women's - 2017
2701            2  11999.98   Trek Silque SLR 7 Women's - 2017
2705            2  10999.98      Trek Domane SLR 6 Disc - 2017
2720            2  10599.98  Trek Fuel EX 9.8 27.5 Plus - 2017
2752            2  10599.98             Trek Remedy 9.8 - 2017
2784            2  10599.98             Trek Remedy 9.8 - 2017
2830            2  12999.98   Trek Silque SLR 8 Women's - 2017
2884            2  12999.98   Trek Silque SLR 8 Women's - 2017
2893            2  10999.98      Trek Domane SLR 6 Disc - 2017
2944            2  10599.98  Trek Fuel EX 9.8 27.5 Plus - 2017
3046            2  10599.98  Trek Fuel EX 9.8 27.5 Plus - 2017
3167            2  11999.98   Trek Silque SLR 7 Women's - 2017
3192            2  10999.98      Trek Domane SLR 6 Disc - 2017
3215            2  11999.98   Trek Silque SLR 7 Women's - 2017
3219            2  12999.98   Trek Silque SLR 8 Women's - 2017
3221            2  10599.98             Trek Remedy 9.8 - 2017
3380            2  10599.98             Trek Remedy 9.8 - 2017
3525            2  10599.98             Trek Remedy 9.8 - 2017
3566            2  10999.98      Trek Domane SLR 6 Disc - 2017
3633            2  10599.98  Trek Fuel EX 9.8 27.5 Plus - 2017
3654            2  10599.98  Trek Fuel EX 9.8 27.5 Plus - 2017
3681            2  11999.98   Trek Silque SLR 7 Women's - 2017
3699            2  10999.98      Trek Domane SLR 6 Disc - 2017
3712            2  11999.98   Trek Silque SLR 7 Women's - 2017
3758            2  12999.98   Trek Silque SLR 8 Women's - 2017
3772            2  10999.98      Trek Domane SLR 6 Disc - 2017
3897            2  12999.98           Trek Emonda SLR 8 - 2018
3905            2  10999.98      Trek Domane SLR 6 Disc - 2017
3927            2  10599.98  Trek Fuel EX 9.8 27.5 Plus - 2017
3977            2  23999.98      Trek Domane SLR 9 Disc - 2018
4059            2  10599.98             Trek Remedy 9.8 - 2017
4262            2  12999.98   Trek Silque SLR 8 Women's - 2017
4277            2  11999.98   Trek Silque SLR 7 Women's - 2017
4386            2  10599.98  Trek Fuel EX 9.8 27.5 Plus - 2017
4389            2  14999.98      Trek Domane SLR 8 Disc - 2018
4464            2  11999.98   Trek Silque SLR 7 Women's - 2017
4495            2  10999.98      Trek Domane SLR 6 Disc - 2018
4498            2  23999.98      Trek Domane SLR 9 Disc - 2018
4583            1  11999.99      Trek Domane SLR 9 Disc - 2018
4664            2  12999.98           Trek Emonda SLR 8 - 2018

       category_name brand_name        store_name        sales_rep
1798  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
1844  Mountain Bikes       Trek     Baldwin Bikes    Venita Daniel
1888      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
1928      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
1953      Road Bikes       Trek  Santa Cruz Bikes    Genna Serrano
2029      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
2083      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
2100      Road Bikes       Trek     Rowlett Bikes      Kali Vargas
2140  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
2227      Road Bikes       Trek     Rowlett Bikes    Layla Terrell
2283      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
2347      Road Bikes       Trek     Rowlett Bikes      Kali Vargas
2533      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
2549      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
2581      Road Bikes       Trek  Santa Cruz Bikes  Mireya Copeland
2653      Road Bikes       Trek     Rowlett Bikes    Layla Terrell
2654      Road Bikes       Trek     Rowlett Bikes    Layla Terrell
2663      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
2676      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
2701      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
2705      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
2720  Mountain Bikes       Trek     Baldwin Bikes    Venita Daniel
2752  Mountain Bikes       Trek  Santa Cruz Bikes  Mireya Copeland
2784  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
2830      Road Bikes       Trek  Santa Cruz Bikes  Mireya Copeland
2884      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
2893      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
2944  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3046  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3167      Road Bikes       Trek     Rowlett Bikes    Layla Terrell
3192      Road Bikes       Trek     Rowlett Bikes      Kali Vargas
3215      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3219      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3221  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3380  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3525  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3566      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3633  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3654  Mountain Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3681      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3699      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3712      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3758      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3772      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
3897      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
3905      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
3927  Mountain Bikes       Trek  Santa Cruz Bikes  Mireya Copeland
3977      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer
4059  Mountain Bikes       Trek     Baldwin Bikes    Venita Daniel
4262      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
4277      Road Bikes       Trek  Santa Cruz Bikes  Mireya Copeland
4386  Mountain Bikes       Trek     Baldwin Bikes    Venita Daniel
4389      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
4464      Road Bikes       Trek     Rowlett Bikes      Kali Vargas
4495      Road Bikes       Trek  Santa Cruz Bikes  Mireya Copeland
4498      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
4583      Road Bikes       Trek     Baldwin Bikes    Venita Daniel
4664      Road Bikes       Trek     Baldwin Bikes  Marcelene Boyer

##### what is the total revenue for each Brand ?

In [45]:
total_revenue_by_brand = data.groupby('brand_name')['revenue'].sum()
print(total_revenue_by_brand)

brand_name
Electra         1344143.79
Haro             207096.69
Heller           193798.71
Pure Cycles      166164.00
Ritchey           88498.82
Strider            4849.75
Sun Bicycles     381919.69
Surly           1063135.82
Trek            5129381.61
Name: revenue, dtype: float64

##### what is the total revenue for each Category Name ?

In [5]:
total_revenue_by_category = data.groupby('category_name')['revenue'].sum()
print(total_revenue_by_category)

category_name
Children Bicycles       327888.21
Comfort Bicycles        438506.87
Cruisers Bicycles      1109151.04
Cyclocross Bicycles     799874.60
Electric Bikes         1020236.85
Mountain Bikes         3030775.71
Road Bikes             1852555.60
Name: revenue, dtype: float64

In [6]:
data.brand_name.value_counts().count

<bound method Series.count of Electra         1729
Trek            1235
Surly            605
Sun Bicycles     485
Pure Cycles      258
Haro             220
Heller            97
Ritchey           77
Strider           16
Name: brand_name, dtype: int64>

In [7]:
data.brand_name.value_counts().count

<bound method Series.count of Electra         1729
Trek            1235
Surly            605
Sun Bicycles     485
Pure Cycles      258
Haro             220
Heller            97
Ritchey           77
Strider           16
Name: brand_name, dtype: int64>

In [8]:
average_total_units_by_state = data.groupby('state')['total_units'].mean()
print("\nAverage total units by each state:")
print(average_total_units_by_state)

Average total units by each state:
state
CA    1.506958
NY    1.495775
TX    1.502879
Name: total_units, dtype: float64

# GOOD LUCK!